html{
    background: url('/profilepic.webp') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:white;

}
*{
    font-family: 'Roboto', sans-serif;
}
#videoBackground {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index:-1;
  }